.navbar {
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: absolute;
}

.navbar__logo img {
  width: 80px;
}

.navbar__menu {
  display: flex;
}

.navbar__item {
  margin: 10px;
}
.navbar__link {
  color: white;
  position: relative;
}

.navbar__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.navbar__link:hover::after {
  width: 100%;
}

.provider-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 355px;
  background: linear-gradient(to right, #3b82f6, #ffffff);
}
.provider-selection .section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 36px;
}
.provider-selection .section-description {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 10px;
  text-align: center;
  color: white;
}
.btn-provider-selection {
  border: 1px solid white;
  background-color: white;
  padding: 12px;
  margin: 10px;
  border-radius: 100px;
  font-size: 15px;
  width: 150px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.5), 0 0 25px rgba(0, 0, 0, 0.3);
  color: #3b82f6;
}
.btn-provider-selection:active {
  box-shadow: none;
}
.providers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
}
.providers-list .section-title {
  margin-top: 10px;
}
.providers-list .provider-list-container {
  display: flex;
  flex-direction: row;
}
.providers-list .provider-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 24px;
  margin: 10px;
}
.providers-list .provider-description {
  text-align: center;
  margin: 10px;
  color: #374151;
}
.providers-list .provider-link {
  font-weight: bold;
}
.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}

.about-section .section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
  color: black;
}

.about-section .section-description {
  display: flex;
  text-align: center;
  max-width: 700px;
  margin: 0;
  padding: 10px;
  color: #374151;
  line-height: 24px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 15px;
  background-color: #2563eb;
}
.footer .footer-link {
  text-decoration: underline;
}
